.slide-inner--info {
    position: absolute;
    width: auto;
    min-height: 50px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 14em;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 5vw;
}

.sing .ms-btn--slider {
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 16em;
    font-weight: 600;
    letter-spacing: .15em;
    padding-bottom: 2em;
    color: white;
}

@media only screen and (max-width: 1900px) {
    .sing .ms-btn--slider {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1630px) {
    .sing .ms-btn--slider {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1450px) {
    .sing .ms-btn--slider {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1200px) {
    .sing .ms-btn--slider {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1000px) {
    .sing .ms-btn--slider {
        font-size: 20px;
    }
}

@media only screen and (max-width: 850px) {
    .sing .ms-btn--slider {
        font-size: 18px;
    }
}

@media only screen and (max-width: 805px) {
    .sing .ms-btn--slider {
        padding-bottom: 0em;
        display: block;
        padding: 0;
    }
}

a.about-me-link {
    display: inline-block;
    color: #fff;
    padding: 0px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 32px;
    font-weight: 600;
    border-radius: 4px;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

@media only screen and (min-width: 768px) {
    a.about-me-link {
        line-height: 48px;
        font-size: 14px;
        padding: 0px 30px;
    }
}

.slide-inner-home {
    position: absolute;
    width: auto;
    bottom: 3em;
    padding-left: 1em;
    color: #fff;
    z-index: 1;
    transition: opacity 1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home-social li {
    display: inline-block;
}

.home-social li a {
    color: #fff;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-22%, -50%);
}


@media only screen and (max-width: 850px) {
    .slide-inner-image-long {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .slide-inner--info {
        position: absolute;
        padding-left: 0em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 805px) {
    .about-me {
        padding-top: 24px;
    }
}

a.about-me-link:hover {
    border: 1px solid #fff;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);
}

.trip-hunter h1 {
    font-size: 3vw;
}

@media only screen and (max-width: 850px) {
    .trip-hunter h1 {
        font-size: 60px;
    }
}