.slide-inner--info {
    position: absolute;
    width: auto;
    min-height: 50px;
    bottom: 33em;
    padding-left: 16em;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ms-btn--slider {
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 16em;
    font-weight: 600;
    letter-spacing: .15em;
    padding-bottom: 2em;
    color: white;
}